.button {
  min-width: 200px;
  height: 38px;
  border: none;
  border-radius: 12px;
  font-size: 1.6rem;
  // &[button-variant="text"] {
  //   &[button-color="text"]{
  //     background-color: transparent;
  //     color: ;
  //   }
  // }
  // &[button-color="secondary"] {
  //   background-color: $secondary-main;
  // }
  // &[button-color="none"] {
  //   background-color: transparent;
  // }
}
