.button {
  min-width: 200px;
  height: 38px;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}

.button--contained {
  background-color: var(--color-secondary);
  color: var(--text-color-primary);
}

.button--outlined {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--text-color-primary);
}
