.card {
  padding: 24px;
  display: grid;
  place-items: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 15%);
  background-color: var(--color-primary);
}
